on: [push, pr]
name: CI
jobs:
  build-and-publish:
    name: build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: yarn
        run: |
          yarn install
          DEBUG=* yarn codechecks ./codechecks-github-actions.yml
        env:
          CC_SECRET: ${{ secrets.CC_SECRET }}
